:root {
    --bg-color: #EBF8FD;
    --border-color: #9BCDFE;
    --gradient: linear-gradient(200deg, #EBF8FD, #9BCDFE);
}

body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    background-color: black;
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    /* overflow-y: hidden; */
}

header {
    background-color: black;
    color: aliceblue;
    margin: 0px;
    border-bottom: solid 6px var(--border-color);
}

nav {
    margin: 0px auto;
    max-width: 1152px;
}
nav img {
    vertical-align: middle;
    max-width: 340px;
    max-height: 100px;
    margin: 0px 0px 0px 25px;
}
@media(max-width: 335px) {
    nav img {
        margin: 0px 0px 0px 0px;
    }
}

.links {
    float: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0px;
}
@media(max-width: 984px) {
    .links {
        display: none;
    }
}
.links h1 {
    font-weight: normal;
    font-size: 22px;
    margin: 0px 50px 0px 0px;
}

.hamburger {
    font-size: 48px;
    float: right;
    margin: 30px 30px 0 0;
}
@media(min-width: 985px) {
    .hamburger {
        display: none;
    }
}

main {
    box-sizing: border-box;
    height: 100%;
    background: #ffffff9a;
    margin: 0px auto;
    max-width: 1152px;
}

.banner {
    background-image: url("images/Osmium_crystalsHD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    max-height: 150px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0 30px;
}
section h2 {
    position: relative;
    font-weight: bold;
    color: black;
    background-color: #ffffff00;
    margin: 0px
}
section img{
    border-radius: 0 1em 0 1em;
    transform: translateY(-90px);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.452);
    max-width: 300px;
    margin: 0 15px 0 0;
}

post {
    max-width: 500px;
    background-color: #EBF8FD;
    border-radius: 1em 0;
    transform: translateY(-90px);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.452);
    padding: 30px;
}

/* Responsive */
@media(max-width: 864px) {
    section {
        flex-direction: column;
    }
    section img {
        margin: 10px auto -100px;
        border-radius: 1em;
    }
    post {
        margin: 0px auto;
        border-radius: 1em;
    }
}

hr {
    background-color: var(--border-color);
    border: none;
    height: 3px;
}

footer {
    background-color: black;
    color: aliceblue;
    margin: 0;
    border-top: solid 6px var(--border-color);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}